{% set grid_size = theme_var('grid-size') %}
{% set columns = page.header.class == 'small' ? 'col-3 col-md-4 col-sm-6' : 'col-4 col-md-6 col-sm-12'  %}
<section class="section modular-blog-overview {{ page.header.class}}">
        <section class="container {{ grid_size }}">
            <div class="frame-box">

                {{ content|raw }}

                <div class="columns">
                    {% for item in page.find(theme_var('blog-page')).children.order('date', 'desc')|slice(0, 3) %}
			{% set image = item.media.images|first %}
			<div class="column {{ columns }}">
			<a href="item.url">
			    <div class="card">
				{% if image %}
				    <div class="card-image">
					{{ image.cropZoom(800,400).html|raw }}
				    </div>
				{% endif %}
				<div class="card-header">
				    <div class="card-title">
					{% include 'partials/blog/title.html.twig' with {title_level: 'h5', page: item} %}
				    </div>
				</div>
				<div class="card-body">
				    {% if item.summary != page.content %}
					{{ item.summary|raw }}
				    {% else %}
					{{ item.content|raw }}
				    {% endif %}
				</div>
			    </div>
			</a>
			</div>
                    {% endfor %}
                </div>
		<p class="articles-link"><a href={{  theme_var('blog-page') }}>{{ "EXTRA.OVERVIEW_MODULE.SEE_ALL"|t }}</a></p>
            </div>
        </section>
</section>
