{% set grid_size = theme_var('grid-size') %}

<section class="section {{ page.header.class}} ">
    <section class="container material {{ grid_size }} {{ page.header.background_color|defined('blue') }}">
	<h3>{{ page.title }}</h6>
	{{ page.content|raw }}
    </section>
</section>
