{% set grid_size = theme_var('grid-size') %}
<section class="section modular-quote {{ page.header.class}} ">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="col-2 hide-xs col-ml-auto"><span>"</span></div> 
	    <div class ="col-6 col-sm-8 col-xs-10"><p>{{ page.header.quote }}<span class="quote-source">" {{ page.header.source }}</span></p></div>
        </div>
    </section>
</section>
