<section class="line-box authors" id="authors">
    <h6>{{ "EXTRA.BLOG.AUTHORS"|t }}</h6>
    <ul>
    {% for author in page.header.authors|keys %}
	<li><em>{{ author }}</em>, {{ page.header.authors[author]}}</li>
    {% endfor %}
    </ul>
</section>
