<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p><a href="/impressum">Impressum</a> - <a href="/#contact">{{ "EXTRA.FOOTER.CONTACT"|t }}</a></p>
    </section>
</section>
