{% if page.header.authors %}
<span class="blog-authors">
    {{ "EXTRA.BLOG.BY"|t }}<a href="{{page.url}}#authors">{% for author in page.header.authors|keys %}<span class="author"> {{ author }}</span> {% endfor %}</a>
</span>
{% endif %}
