<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <i class="fa fa-calendar"></i> {{ page.date|localizeddate(dateFormat='medium', timeFormat='none') }}
    </time>
</span>
