{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if page.header.show_breadcrumbs|defined(true) and config.plugins.breadcrumbs.enabled %}
	{% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    {{ page.content|raw }}
{% endblock %}
