{% extends 'partials/base.html.twig' %}

{% block body %}
    <section id="body-wrapper" class="section">
	{% if page.header.show_breadcrumbs|defined(true) and config.plugins.breadcrumbs.enabled %}
	    <section class="container {{ theme_var('grid-size') }}">
		{% include 'partials/breadcrumbs.html.twig' %}
	    </section>
	{% endif %}
	{% for module in page.collection() %}
            {{ module.content|raw }}
	{% endfor %}
    </section>
{% endblock %}
