// font adjustments
$heading-font-family: 'Roboto Slab', $body-font-family;
$read-font-family: 'Merriweather', $body-font-family;


/**** general styling ****/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $heading-font-family;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
}

:not(.content-title) > h2, h3 {
    display: inline-block;
    border-left: 1px solid $primary-color;
    padding: 0 0 2rem .5rem;
    margin-bottom: -1.5rem;
    margin-top: 1.7rem;
    position: relative;
    left: -.5rem
}

.search-title h3 {
    top: 1.7rem;
}

body {
    background: $bg-color;
}

#footer {
    border-top: 1px solid $border-color;
    font-family: $heading-font-family;
}

#header {
    background: rgba($bg-color, 0.6) !important;
    > * {
	font-family: $heading-font-family;
	font-size: .9rem;
    }
    a:focus, a:hover, a:active, a.active {
	text-decoration: underline;
    }
    border-bottom: 2px solid $border-color;
    background: $bg-color;
}
.dropmenu ul ul {
    background: rgba($bg-color, 0.6);
    box-shadow: none;
    border: 1px solid $secondary-color;
    border-radius: .1rem;
}

a {
    color: $primary-color;
    &:focus, &:hover, &:active, &.active {
	text-decoration: underline;
	color: $primary-color;
    }
}

blockquote {
    border: 0;
    font-size: 1rem;
    font-family: $heading-font-family;
    position: relative;
    margin-right: 0;
    margin-left: 4rem;
    &::before {
	content: '"';
	color: transparent;
	-webkit-text-stroke: 1px $primary-color;
	font-size: 5rem;
	position: absolute;
	left: -1.5rem;
	top: -2rem;
    }
    p {
	border-bottom: 1px solid $primary-color;
	padding-bottom: .3rem;
    }
}

.card {
    background: lighten($bg-color, 5%);
}

/* breadcrumbs */
#breadcrumbs span:not(:first-child)::before, #breadcrumbs a:not(:first-child)::before {
    content: '>';
    color: $secondary-color;
    font-weight: 700;
}
#breadcrumbs span {
    padding: 0;
}
/* doesn't work :/
#breadcrumbs a:focus, a:hover, a:active, a.active {
    text-decoration: underline !important;
}
*/

/* blog item */
.line-box {
    padding: 1rem .5rem .5rem .5rem;
    margin: 1rem .5rem;
    position: relative;
    border-radius: .1rem;
    h6 {
	position: absolute;
	top: -.5rem;
	left: .5rem;
	background: $bg-color;
	padding: 0 .5rem 0 .5rem;
	display: inline-block;
	margin: 0;
    }
    ul,ol {
	li:first-child {
	    margin-top: 0;
	}
	margin: 0;
    }
    ul,ol {
	list-style-position: inside;
    }
}
.authors {
    border: 1px solid $secondary-color;
    font-weight: 300;
    h6 {
	color: darken($secondary-color, 10%);
    }
    ul {
	list-style-type: none;
    }
    em {
	font-weight: 400;
    }
}
.sources {
    border: 1px solid $primary-color;
    font-weight: 300;
    h6 {
	color: $primary-color;
    }
}
.blog-authors {
    font-size: 13px;
    padding-left: 1rem;
}
.author:not(:first-child)::before {
    content: ' &';
}

/* langswitcher */

.desktop-menu ul.langswitcher {
    margin: 0;
    li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 7px 0 7px 20px;
    }
}
.desktop-menu > div {
    color: $primary-color;
}

/**** modular pages ****/

/* material page
#breadcrumbs {
    margin-top: $header-height-large;
} */
.material {
    border-radius: .1rem;
    border: 0;
    box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem .5rem 1.5rem;
    margin-bottom: 1rem; 
    h3 {
	margin-top: 0;
    }
    ul,ol {
	margin-top: .3rem;
    }
    &.pink {
	background: #ffccdd;
    }
    &.blue {
	background: lighten($bg-color, 5%);
    }
    &.gray {
	background: lighten($dark-color, 55%);
    }
}

/* standard modular */
section[class*='modular-'] {
    padding-top: 0;
    &:not(.modular-quote) > .container {
	border-top: 1px solid $border-color;
    }
    > .container {
	padding-top: 4rem;
    }
}

.modular-quote {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .col-2 {
	font-family: $heading-font-family;
	font-size: 12em;
	color: transparent;
	-webkit-text-stroke: 2px darken($secondary-color, 5%);
	span {
	    display: block;
	    position: relative;
	    left: 3rem;
	    top: -3rem;
	}
    }
    .col-6 {
	font-family: $heading-font-family;
	font-size: 1rem;
	font-weight: 400;
    }
    p {
	padding-top: 2rem;
    }
    .quote-source {
	display: block;
	text-align: right;
	font-weight: 600;
	font-size: 2rem;
	color: transparent;
	-webkit-text-stroke: 2px darken($secondary-color, 5%);
    }
}

.modular-blog-overview {
    .frame-box {
	padding: 3rem 0;
    }
    .articles-link {
	margin: 1.2rem 0;
	text-align: right;
    }
}

/*** mobile menu adjustments ***/
.mobile-menu .button_container {
    top: .9rem;
    span {
	height: 3px;
    }
}

.mobile-logo {
    margin-left: 1rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
}

.overlay-menu > .tree * {
    font-size: 1.1rem;
    font-weight: 500;
}

.treemenu .toggler {
    font-weight: bold;
}

.treemenu.treemenu-root {
    margin-top: 0;
}

.overlay .langswitcher {
    position: initial;
    margin-bottom: 0;
    font-size: 1rem;
}
    
